body {
    width: 50%;
  }
  #res {
    border: solid;
    height: 48px;
    font-size: 20px;
  }
  #btn0,
  #btn1,
  #btn2,
  #btn3,
  #btn4,
  #btn5,
  #btn6,
  #btn7,
  #btn8,
  #btn9 {
    background-color: lightcoral;
    color: orange;
  }
  #btnClr,
  #btnEql {
    background-color: lightsalmon;
    color: white;
  }
  #btnSum,
  #btnSub,
  #btnMul,
  #btnDiv {
    background-color: lightyellow;
    color: black;
  }
  button {
    width: 25%;
    height: 36px;
    font-size: 18px;
    margin: 0px;
    float: left;
  }